<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <context-param>
    <param-name>machineName</param-name>
    <param-value>COMPUTER</param-value>
  </context-param>
  <servlet>
    <description>A servlet for predicting the future</description>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.Servlet1</servlet-class>
    <init-param>
      <param-name>months</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>wildness</param-name>
      <param-value>exaggerated</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/serv2</url-pattern>
  </servlet-mapping>
</web-app>